 /* body{
 background-color: yellow;
}
/* Navigation section */
/* #navbar{
    flex-direction: column;
} */

/* Home section */
/* #home{

}
/* Services section */
/* #services {
     flex-direction: column;

}
#services .box{
}

/* Client section */
/* #client{

}
/* Contact section */
/* #contact{

}  */